*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.3s;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 43.75%;
  }
}

body {
  background-color: #080710;
}

.background {
  height: 52rem;
  width: 40rem;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.background .shape {
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -8rem;
  top: -8rem;
}

.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -8rem;
  bottom: -8rem;
}

form {
  height: 52rem;
  width: 40rem;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 5rem 3rem;
}

form * {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.heading {
  font-size: 2.75rem;
  text-align: center;
}

.social {
  margin: 5rem auto;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  width: 25rem;
  border-radius: 3px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.47);
}

.social i {
  font-size: 2rem;
  margin-right: 1rem;
}

.btn__link:link,
.btn__link:visited {
  text-decoration: none;
  font-size: 1.4rem;
}

@media only screen and (max-width: 37.5em) {
  .background {
    height: 45.5rem;
    width: 35rem;
  }

  .background .shape {
    height: 13rem;
    width: 13rem;
  }

  .shape:first-child {
    left: -5rem;
    top: -5rem;
  }

  .shape:last-child {
    right: -5rem;
    bottom: -5rem;
  }

  form {
    height: 45.5rem;
    width: 35rem;
  }

  .heading {
    font-size: 2.4rem;
  }

  .social {
    margin: 3.5rem auto;
    gap: 2.5rem;
  }

  .btn {
    width: 20rem;
  }

  .social i {
    font-size: 1.5rem;
  }

  .btn__link:link,
  .btn__link:visited {
    font-size: 1.2rem;
  }
}

/** Profile Page **/

.profile--header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  padding: 4rem 0;
  margin-bottom: 3rem;
  border-bottom: 1px solid;
}

.profile__image {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.profile__id {
  font-size: 1.1rem;
}

.profile--details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.4rem;
}

.btn--logout {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -11rem;
  width: 15rem;
}

@media only screen and (max-width: 37.5em) {
  .profile__image {
    height: 8rem;
    width: 8rem;
  }

  .profile__id {
    font-size: 0.9rem;
  }

  .profile--details {
    font-size: 1.2rem;
  }

  .btn--logout {
    margin-top: -10rem;
    width: 12rem;
  }
}
