*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.3s;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #080710;
}

.background {
  width: 43rem;
  height: 52rem;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.background .shape {
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -8rem;
  top: -8rem;
}

.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -3rem;
  bottom: -8rem;
}

form {
  height: 52rem;
  width: 40rem;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 5rem 3rem;
}

form * {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.heading {
  font-size: 2.75rem;
  text-align: center;
}

.social {
  margin: 5rem auto;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: auto;
}

.social .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  width: 25rem;
  border-radius: 3px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
}

.social .btn:hover {
  background-color: rgba(255, 255, 255, 0.47);
}

.social i {
  font-size: 2rem;
  margin-right: 1rem;
}

.btn__link:link,
.btn__link:visited {
  text-decoration: none;
  font-size: 1.4rem;
}
